USE [master]
GO
/****** Object:  Database [IPB2Contacts]    Script Date: 3/14/2026 8:58:07 PM ******/
CREATE DATABASE [IPB2Contacts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IPB2Contacts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IPB2Contacts.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IPB2Contacts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IPB2Contacts_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IPB2Contacts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IPB2Contacts]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/14/2026 8:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 3/14/2026 8:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[ContactName] [varchar](150) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[CategoryID] [int] NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [IsDelete]) VALUES (1, N'Family', 0)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [IsDelete]) VALUES (2, N'Friends', 0)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [IsDelete]) VALUES (3, N'Colleagues', 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactID], [ContactName], [Phone], [Email], [CategoryID], [IsDelete]) VALUES (1, N'Hla Hla', N'09887736435', N'hlahla@gmail.com', 3, 0)
INSERT [dbo].[Contacts] ([ContactID], [ContactName], [Phone], [Email], [CategoryID], [IsDelete]) VALUES (2, N'Mya Mya', N'09888776455', N'myamya@gmail.com', 2, 0)
INSERT [dbo].[Contacts] ([ContactID], [ContactName], [Phone], [Email], [CategoryID], [IsDelete]) VALUES (3, N'Aung Min', N'959730111111', N'aungmin@gmail.com', 1, 0)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
USE [master]
GO
